<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>customer form</title>
    <style>
        .error {color:red}
    </style>
</head>
<body>
    <form th:method="POST" th:action="@{/customer/processForm}" th:object="${customer}">
        <label for="firstName">First name: </label>
        <input type="text" th:field="*{firstName}" id="firstName"/>

        <br><br>

        <label for="lastName">Last name (*): </label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <span class="error">
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Lastname Error</td>
        </span>

        <br><br>

        <label for="freePasses">Free passes: </label>
        <input type="text" th:field="*{freePasses}" id="freePasses"/>
        <span class="error">
            <td th:if="${#fields.hasErrors('freePasses')}" th:errors="*{freePasses}">freepasses error</td>
        </span>

        <br><br>

        <label for="postalCode">Postal code: </label>
        <input type="text" th:field="*{postalCode}" id="postalCode"/>
        <span class="error">
            <td th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}">postal code error</td>
        </span>

        <input type="submit" value="Submit"/>
    </form>
</body>
</html>