<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>customers list</title>

    <link type="text/css"
          rel="stylesheet"
          th:href="@{/static/css/style.css}"/>
</head>
<body>

    <h1>CRM - Customer Relationship Manager</h1>

    <table>
        <thead>
        <tr>
            <th> id </th>
            <th> firstName </th>
            <th> lastName </th>
            <th> email </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${customers.empty}">
            <td colspan="2"> No Books Available </td>
        </tr>
        <tr th:each="customer : ${customers}">
            <td><span th:text="${customer.id}"> id </span></td>
            <td><span th:text="${customer.firstName}"> firstName </span></td>
            <td><span th:text="${customer.lastName}"> lastName </span></td>
            <td><span th:text="${customer.email}"> email </span></td>
        </tr>
        </tbody>
    </table>

</body>
</html>