<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>student form</title>
</head>
<body>
    <form th:method="POST" th:action="@{/student/processForm}" th:object="${student}">
        <label for="firstName">First name: </label>
        <input type="text" th:field="*{firstName}" id="firstName"/>

        <br><br>

        <label for="lastName">Last name: </label>
        <input type="text" th:field="*{lastName}" id="lastName"/>

        <br><br>

        <label for="country">Country: </label>
        <select th:field="*{country}" id="country">
            <option th:each="entry : ${student.getCountryOptions().entrySet()}" th:value="${entry.key}" th:text="${entry.value}">
            </option>
        </select>

        <label>Favorite language: </label>
        <ul>
            <li>
                <label for="favoriteLanguage1" th:text="Java">Java</label>
                <input type="radio" th:field="*{favoriteLanguage}" th:value="Java" id="favoriteLanguage1"/>
            </li>
            <li>
                <label for="favoriteLanguage2" text="C#">C#</label>
                <input type="radio" th:field="*{favoriteLanguage}" value="C#" id="favoriteLanguage2"/>
            </li>
            <li>
                <label for="favoriteLanguage3" th:text="PHP">PHP</label>
                <input type="radio" th:field="*{favoriteLanguage}" th:value="PHP" id="favoriteLanguage3"/>
            </li>
            <li>
                <label for="favoriteLanguage4" th:text="Ruby">Ruby</label>
                <input type="radio" th:field="*{favoriteLanguage}" th:value="Ruby" id="favoriteLanguage4"/>
            </li>
        </ul>

        <label for="checkbox1" th:text="Linux">Linux</label>
        <input type="checkbox" id="checkbox1" th:field="*{operatingSystems}" th:value="Linux"/>
        <label for="checkbox2" th:text="MacOS">MacOS</label>
        <input type="checkbox" id="checkbox2" th:field="*{operatingSystems}" th:value="MacOS"/>
        <label for="checkbox3" th:text="Windows">Windows</label>
        <input type="checkbox" id="checkbox3" th:field="*{operatingSystems}" th:value="Windows"/>

        <input type="submit" value="Submit"/>
    </form>
</body>
</html>